﻿@model IEnumerable<learning_asp.net.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">

        @foreach (var item in Model)
        {
            <div>
                <p>@Html.DisplayFor(modelItem => item.id) @Html.DisplayFor(modelItem => item.name)</p>
            </div>
              
        }
         
    </div>